<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<meta charset="utf-8" />
<title>Hello World!</title>
    
</head>
<script type="text/javascript">
	function clickAjax(){
		console.log("触发点击");
		$.ajax({
			url:"/clickAjax",
			type:"POST",
			data:{name:"张三",age:26},
			success:function(result){
				console.log(result);
				alert(result.姓名);
			}
		});
	}
</script>
<body>
	<h1 th:inline="text">你好Hello.v.2</h1>
	<p th:text="${hello}"></p>
	<input type="text" name="in1" id="in1" value="23" />
	<input type="text" name="in2" id="in2" value="" />
	<input type="button" name="btn3" id="btn3" value="触发AJAX" onclick="clickAjax()">
	 <form enctype="multipart/form-data" method="post" action="/testuploadimg">
    图片<input type="file" name="file"/>
    <input type="submit" value="上传"/>
    <img alt="测试" src="images/logo.png"/>
    </form>
<div id="div1" style="left:15%;width:70%;position:absolute;">
    <p>欢迎使用 wangEditor 编辑器</p>
</div>
<button id="btn1">获取html</button>
<button id="btn2">获取text</button>
<script type="text/javascript" src="/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#div1')
    editor.customConfig.debug=true;
    editor.customConfig.uploadImgServer = '/upload'
    editor.customConfig.uploadFileName = 'myFileName';
    editor.customConfig.debug = true
    editor.create()
    
	    document.getElementById('btn1').addEventListener('click', function () {
        // 读取 html
        alert(editor.txt.html())
        console.log(editor.txt.html())
    }, false)
    document.getElementById('btn2').addEventListener('click', function () {
        // 读取 text
        alert(editor.txt.text())
    }, false)
    console.log(22)
</script>
	
	<p>欢迎使用 wangEditor 编辑器</p><pre><code>String ss="Hello World";</code></pre><p><br></p>
	
	 
	
	
	
	
	
</html>